body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(img/Header-llustration-desktop.png);
  margin: 0;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  color: #172b4d;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav {
  position: relative;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

header a {
  list-style: none;
  display: inline-block;
  padding: 0 1%;
  color: #344563;
  font-weight: 600;
}

a:link {
  text-decoration: none;
}

#intro {
  margin: 0 auto;
  padding-top: 25%;
}

#center-section {
  width: 50%;
  justify-content: center;
  margin: auto;
  height: 100vh;
}

#name {
  color: #172b4d;
  margin-bottom: 0;
}

#profile {
  color: #d92424;
  margin-top: 0;
}

#description {
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 1.8vw;
}

.main-title {
  font-weight: 800;
  font-size: 3vw;
  text-align: center;
  letter-spacing: 0.37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sm-icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#ham-menu {
  display: none;
}

.il-icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.icons img {
  padding: 1vw;
  margin: 0 auto;
  width: 1.5vw;
}

<<<<<<< Updated upstream
=======
#w-title {
  font-size: 2.5vw;
}

.grid-work {
  display: grid;
  justify-content: center;
  grid-template-columns: 23% 23% 23%;
  grid-template-rows: 50% 50%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0% 10% 0% 10%;
  column-gap: 1%;
  row-gap: 2%;
  margin-bottom: 2%;
}

.grid-item {
  background-color: #d0d9d4;
  border: 1px solid #D0D9D4;
  border-radius: 8px;
  display: flex;
  flex-direction: column-reverse;
}

.grid-data {
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-top: 72%;
}

.hero-title {
  text-align: center;
}

.lang-list {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-top: 0px;
}

.lang-item {
  text-align: center;
  padding: 2%;
  border-radius: 8px;
  background-color: #ebf0ee;
  font-size: 75%;
  font-weight: 600;
  margin: 0% 1% 0% 1%;
}

.grid-button-container {
  margin: 0% 0% 6% 0%;
  display: flex;
  justify-content: center;
}

.grid-button {
  background-color: #d92424;
  color: #ffffff;
  width: 35%;
  padding: 4.3%;
  border-radius: 4px;
  border: none;
  font-size: 0.8vw;
}

#about {
  margin: 40vh 0vh 10vh 0vh;
}

#about-me {
  background-image: url(img/about-me-background.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5vw 0vw;
}

#about-title {
  font-size: 2.5vw;
}

#about-text {
  font-size: 1.2vw;
  line-height: 1.8vw;
}

#resume-button {
  width: 8%;
  padding: 0.8vw;
}

#about-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 19.2vw 19.2vw 19.2vw;
  grid-template-rows: 16.5vw;
  padding: 0% 10% 0% 10%;
  column-gap: 1%;
  row-gap: 2%;
  margin-bottom: 2%;
}

#about-grid-data {
  margin-top: 0vw;
  background-color: #ebf0ee;
  flex-direction: column;
  justify-content: space-around;
}

.about-icon-div {
  margin-top: 1.7vw;
}

.about-icon {
  width: 4.2vw;
}

#wrap-lang-list {
  height: 7vw;
}

#about-lang-list {
  padding: 1.1vw 1.5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
}

.about-grid-item-title {
  color: #344563;
  margin-bottom: 0vw;
}

.about-lang-item {
  text-align: center;
  padding: 0.7vw 0.9vw;
  border-radius: 8px;
  background-color: #ffffff;
  color: #d92424;
  font-size: 75%;
  font-weight: 600;
  margin: 1% 0%;
}

>>>>>>> Stashed changes
@media (max-width: 768px) {
  #center-section {
    width: 85%;
  }

  #name {
    padding: 0 5vw 0 5vw;
  }

  .main-title {
    font-size: 12vw;
  }

  #description {
    font-size: 6vw;
    font-weight: 400;
    line-height: 8vw;
  }

  body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(img/mobile-background.png);
    background-position: 0 20vw;
  }

  #menu {
    display: none;
  }

  #ham-menu {
    display: block;
    position: absolute;
    top: 26px;
    right: 24px;
  }

  .hamburger {
    display: block;
    z-index: 2;
    height: 24px;
    width: 24px;
    position: relative;
    outline: none;
    border: 0;
    background: transparent;
    margin-top: 7px;
  }

  .ham-top,
  .ham-mid,
  .ham-botom {
    width: 24px;
    border-radius: 10px;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #d92424;
  }

  .ham-top {
    top: 0%;
    transform: translateY(-50%);
  }

  .ham-mid {
    top: 6px;
  }

  .ham-botom {
    top: 13px;
    bottom: 0;
  }
<<<<<<< Updated upstream
=======

  #w-title {
    font-size: 12vw;
    padding: 5vw;
    margin-bottom: 2vw;
  }

  #works {
    padding: 5vw;
  }

  .separator {
    width: 7vw;
    border-radius: 10px;
    height: 0.8vw;
    display: flex;
    background-color: #d92424;
    margin: 0 auto;
    margin-bottom: 10vw;
  }

  .grid-work {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .grid-item {
    background-color: #d0d9d4;
    border: 1px solid #D0D9D4;
    border-radius: 8px;
    margin: 3vw;
    height: 130vw;
    display: flex;
    flex-direction: column-reverse;
    width: 93%;
  }

  .grid-data {
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 0vw 0vw 3vw 0vw;
  }

  .hero-title {
    text-align: center;
  }

  .lang-list {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 3vw 0vw 6vw 0vw;
  }

  .lang-item {
    text-align: center;
    padding: 2vw 3vw 2vw 3vw;
    border-radius: 8px;
    background-color: #d0d9d4;
    font-size: 75%;
    font-weight: 500;
  }

  .grid-button-container {
    margin: 0vw 1vw 0vw 1vw;
    display: flex;
    justify-content: center;
  }

  .grid-button {
    background-color: #d92424;
    color: #ffffff;
    width: 30vw;
    border-radius: 8px;
    border: none;
  }
>>>>>>> Stashed changes
}
