@media (prefers-color-scheme: light) {
  body {
    --background-items: #ebf0ee;
    --background-container: #fff;
    --theme: #36b37e;
    --button-hover: rgba(54, 179, 127, 0.24);
    --button-press: #008552;
    --title: #172b4d;
  }
}

@media (prefers-color-scheme: dark) {
  .dark {
    --background-items: #555;
    --background-container: #222;
    --theme: #36b37e;
    --button-hover: rgba(54, 179, 127, 0.24);
    --button-press: #008552;
    --title: #fafafa;
  }
}

body {
  background-color: var(--background-container);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(img/Header-llustration-desktop.png);
  margin: 0;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  color: var(--title);
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav {
  position: relative;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

header a {
  list-style: none;
  display: inline-block;
  padding: 0 1%;
  color: var(--title);
  font-weight: 600;
}

a:link {
  text-decoration: none;
}

#intro {
  margin: 0 auto;
  padding-top: 25%;
}

#main {
  width: 50%;
  justify-content: center;
  margin: auto;
  height: 100vh;
}

#name {
  color: var(--title);
  margin-bottom: 0;
}

#profile {
  color: var(--theme);
  margin-top: 0;
}

#description {
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 1.8vw;
}

.main-title {
  font-weight: 800;
  font-size: 3vw;
  text-align: center;
  letter-spacing: 0.37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sm-icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0;
}

#ham-menu {
  display: none;
}

.il-icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.icons img {
  padding: 1vw;
  margin: 0 auto;
  width: 1.5vw;
}

#works {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

#w-title {
  font-size: 2.5vw;
}

.grid-work {
  display: grid;
  justify-content: center;
  grid-template-columns: 23% 23% 23%;
  grid-template-rows: 50% 50%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0% 10% 0% 10%;
  column-gap: 1%;
  row-gap: 2%;
  margin-bottom: 2%;
}

.grid-item {
  background-color: var(--background-items);
  border: 1px solid var(--background-items);
  border-radius: 8px;
  display: flex;
  flex-direction: column-reverse;
}

.grid-data {
  background-color: var(--background-container);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-top: 72%;
}

.hero-title {
  text-align: center;
}

.lang-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 0;
}

.lang-item {
  text-align: center;
  padding: 2%;
  border-radius: 8px;
  background-color: var(--background-items);
  font-size: 75%;
  font-weight: 600;
  margin: 0% 1% 0% 1%;
}

.grid-button-container {
  margin: 0% 0% 6% 0%;
  display: flex;
  justify-content: center;
}

.grid-button {
  background-color: var(--theme);
  color: var(--background-container);
  padding: 0.7vw;
  border-radius: 4px;
  border: none;
  font-size: 0.8vw;
}

.grid-button:hover {
  box-shadow: 0 8px 16px var(--button-hover);
}

.grid-button:active {
  background-color: var(--button-press);
}

.about-me {
  background-image: url(img/about-me-background.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5vw 25vw;
}

#about-title {
  font-size: 2.5vw;
}

#about-text {
  font-size: 1.2vw;
  line-height: 1.8vw;
}

#resume-button {
  padding: 0.8vw;
}

#about-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 19.2vw 19.2vw 19.2vw;
  grid-template-rows: 16.5vw;
  padding: 0% 10% 0% 10%;
  column-gap: 1%;
  row-gap: 2%;
  margin-bottom: 2%;
}

#about-grid-data {
  margin-top: 0;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--background-items);
}

.about-icon-div {
  margin-top: 1.7vw;
}

.about-icon {
  width: 4.2vw;
}

#wrap-lang-list {
  height: 7vw;
}

#about-lang-list {
  padding: 1.1vw 1.5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
}

.about-grid-item-title {
  color: var(--title);
  margin-bottom: 0;
}

.about-lang-item {
  text-align: center;
  padding: 0.7vw 0.9vw;
  border-radius: 8px;
  background-color: var(--background-container);
  color: var(--theme);
  font-size: 75%;
  font-weight: 600;
  margin: 1% 0%;
}

#contact-div {
  background-image: url(img/final.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 25vw;
  padding: 5vw 20vw;
  display: flex;
  justify-content: center;
}

#invite {
  font-weight: 700;
  font-size: 1.5vw;
  text-align: left;
  line-height: 2.5vw;
  width: 23vw;
}

#contact-center {
  display: flex;
  justify-content: center;
}

#contact-form-div {
  width: 37vw;
}

#survey-form {
  padding: 1vw 0 1vw 1vw;
  display: flex;
  flex-wrap: wrap;
}

.form {
  background: var(--background-container);
  border: 1px solid var(--background-items);
  border-radius: 4px;
  box-sizing: border-box;
  height: 2vw;
  padding: 0.5vw;
}

.name {
  width: 45%;
  margin: 0 2.5% 0.5vw 2.5%;
}

#email {
  width: 100%;
  margin: 0.5vw 2.5%;
}

#comments {
  width: 95%;
  height: 8vw;
  margin: 1vw 2.5%;
}

#submit-button {
  justify-content: left;
  margin-left: 2.5%;
}

textarea::placeholder {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

#icons-footer {
  margin: 0;
}

#email-para {
  display: none;
}

@media (max-width: 768px) {
  #main {
    width: 85%;
  }

  #name {
    padding: 0 5vw 0 5vw;
  }

  .main-title {
    font-size: 12vw;
  }

  #description {
    font-size: 6vw;
    font-weight: 400;
    line-height: 8vw;
  }

  body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(img/mobile-background.png);
    background-position: 0 20vw;
  }

  #menu {
    display: none;
  }

  #ham-menu {
    display: block;
    position: absolute;
    top: 26px;
    right: 24px;
  }

  .hamburger {
    display: block;
    z-index: 2;
    height: 24px;
    width: 24px;
    position: relative;
    outline: none;
    border: 0;
    background: transparent;
    margin-top: 7px;
  }

  .ham-top,
  .ham-mid,
  .ham-botom {
    width: 24px;
    border-radius: 10px;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--theme);
  }

  .ham-top {
    top: 0%;
    transform: translateY(-50%);
  }

  .ham-mid {
    top: 6px;
  }

  .ham-botom {
    top: 13px;
    bottom: 0;
  }

  #w-title {
    font-size: 10vw;
    padding: 5vw;
    margin-bottom: 2vw;
  }

  #works {
    padding: 5vw;
    margin-bottom: 80vw;
  }

  .separator {
    width: 7vw;
    border-radius: 10px;
    height: 0.8vw;
    display: flex;
    background-color: var(--theme);
    margin: 0 auto;
    margin-bottom: 10vw;
  }

  .grid-work {
    display: flex;
    padding: 0;
  }

  .grid-item {
    background-color: var(--background-items);
    border: 1px solid var(--background-items);
    border-radius: 8px;
    margin: 3vw;
    height: 130vw;
    display: flex;
    flex-direction: column-reverse;
    width: 93%;
  }

  .grid-data {
    background-color: var(--background-container);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 0 0 3vw 0;
  }

  .hero-title {
    text-align: center;
  }

  .lang-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 3vw 0 6vw 0;
  }

  .lang-item {
    text-align: center;
    padding: 2vw 3vw 2vw 3vw;
    border-radius: 8px;
    background-color: var(--background-items);
    font-size: 75%;
    font-weight: 500;
  }

  .grid-button-container {
    margin: 0 1vw 0 1vw;
    display: flex;
    justify-content: center;
  }

  .grid-button {
    background-color: var(--theme);
    color: var(--background-container);
    width: 30vw;
    height: 10vw;
    border-radius: 8px;
    border: none;
    font-size: 3.5vw;
  }

  #about-title {
    font-size: 10vw;
  }

  .about-me {
    padding: 5vw 5vw;
  }

  #about-text {
    font-size: 5.2vw;
    line-height: 8.8vw;
  }

  #resume-button {
    padding: 0.8vw;
  }

  #about-grid {
    grid-template-columns: 100%;
    grid-template-rows: 80vw 80vw 80vw;
    margin-bottom: 10vw;
  }

  #about-grid-data {
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .about-icon {
    width: 30%;
  }

  .about-icon-div {
    margin-top: 10%;
  }

  .grid-title {
    height: 50%;
  }

  .about-lang-item {
    padding: 2.7vw 2.9vw;
  }

  #contact-center {
    flex-wrap: wrap;
    height: 195vw;
  }

  #contact-div {
    padding: 5vw 10vw;
    background-image: none;
  }

  #invite {
    font-size: 10vw;
    text-align: center;
    line-height: 11vw;
    width: 100%;
  }

  #about {
    margin: 0 0 20vh 0;
    background-image: url(img/background-final.png);
    background-size: 20vw;
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  #about-me {
    background-image: url(img/about-me-background-mobile.png);
  }

  #contact-form-div {
    width: 100%;
  }

  .desktop {
    display: none;
  }

  .form {
    width: 100% !important;
    height: 10vw;
    padding: 2vw;
  }

  #comments {
    height: 30vw;
  }

  #submit-button {
    justify-content: center;
  }

  #email-para {
    display: flex;
    justify-content: center;
    margin-top: 10%;
  }

  #icons-footer {
    height: 10.5vw;
    padding-bottom: 10vw;
  }

  .icons img {
    padding: 2vw;
    width: 7.5vw;
  }
}
